.header_section {
    width: 100%;
    display: inline;
    background-color: #f3f2f1;
    height: auto;
    background-size: 100%;
    position: absolute;
    top: 0;


}
.CartContainer{
    position: absolute;
    top: 20%;
}
*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; 
  padding:10px;
  font-size:20px; 
  font-family:raleway;
  text-decoration: none;

}

ul li:hover{
  color:orange;
  
}
img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode:darken;
    position: absolute;
    left: 2%;
}
